/* Importazione di Font */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Merriweather&family=Raleway&family=Libre+Baskerville&family=Lora&family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #F5F2E6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
}

.main-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

footer {
  flex: 0 0 auto;
  width: 100%;
  padding: 20px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Media Queries per il Supporto Mobile */
@media (max-width: 768px) {
  header {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  header img {
    height: 30px; /* Riduci l'altezza dell'icona per schermi più piccoli */
    margin-right: 10px; /* Riduci il margine destro dell'icona */
  }

  header h1 {
    font-size: 24px; /* Riduci la dimensione del font per il titolo */
    text-align: left; /* Allinea il testo a sinistra */
    margin: 0; /* Rimuovi eventuali margini aggiuntivi */
  }

  .map-container {
    width: 100% !important;
    height: calc(45% - 5px) !important;
    touch-action: none;
  }

  .details-panel {
    width: 90% !important;
    height: calc(5% - 60px) !important;
    top: calc(50% + 60px) !important;
  }

  .details-panel img {
    max-width: 100% !important;
    height: auto !important;
  }

  footer {
    width: 90% !important;
    padding: 20px !important;
    top: calc(100% + 190px) !important;
  }
}
